<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Filmoteca</title>
  </head>

  <body class="container">

    <h1 class="display-3">Filmoteca</h1>

    <nav class="nav nav-pills">
      <a class="nav-link" href="/">Inicio</a>
      <a class="nav-link active" href="/peliculas">Películas</a>
      <a class="nav-link" href="/insertar">Añadir</a>
    </nav>

    <br />

    <h2 class="display-5">Películas</h2>

    <br />

    <table class="table table-striped table-responsive-md">
      <tr>
        <th>Título</th>
        <th>Año</th>
        <th>Duración</th>
        <th>Editar</th>
        <th>Borrar</th>
      </tr>
      <tr th:each="pelicula : ${peliculas}">
        <td th:text="${pelicula.titulo}"></td>
        <td th:text="${pelicula.anyo}"></td>
        <td th:text="${pelicula.duracion}"></td>
        <td><a th:href="@{/editar/{id}(id=${pelicula.id})}" class="btn btn-info">Editar</a></td>
        <td><a th:href="@{/borrar/{id}(id=${pelicula.id})}" class="btn btn-danger">Borrar</a></td>
      </tr>
    </table>

  </body>
</html>
