body {
  font-family: 'San Francisco', 'Segoe UI', 'Open Sans', sans-serif;
  width: 210mm;
  height: 297mm;
}

a {
  color: blue;
  text-decoration: none;
}

.center {
  text-align: center;
}

code {
  font-family: 'Menlo', monospace;
  padding: .2em .4em;
  background-color: Gainsboro;
  border-radius: .2em;
}
