body {
  font-family: 'San Francisco', 'Segoe UI', 'Open Sans', sans-serif;
  max-width: 210mm;
}

a {
  color: blue;
  text-decoration: none;
}

code, pre {
  font-family: 'Menlo', monospace;
  padding: .2em .4em;
  background-color: Gainsboro;
  border-radius: .2em;
}

/*img {
  display: block;
  margin: 0 auto;
}*/
