body {
  font-family: 'San Francisco', 'Segoe UI', 'Open Sans', sans-serif;
}

a, a:link, a:visited {
  color: blue;
  text-decoration: none;
}

.center {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

code {
  font-family: 'Menlo', monospace;
  padding: .2em .4em;
  background-color: Gainsboro;
  border-radius: .2em;
}

    
