a {
  text-decoration: none;
}

a:link {
  color: #0066cc;
}

a:visited {
  color: #0066cc;
}

body header{
  font-size: 45px;
  text-align: center;
  color: #333;
  margin-top: 15px;
  margin-bottom: 30px;
}

article header {
  color: #444;
  margin-top: 45px;
  margin-bottom: 30px;
  line-height: 40px;
  font-size: 30px;
  text-align: left;
}

body {
  max-width: 720px;
  padding: 0 10px;
  margin: 0 auto;
  font-family: sans-serif;
}

pre {
  background-color:#eee;
  border: 1px solid #aaa;
  color: #333;
  font-family: liberation mono, monospace; 
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  padding: 10px;
  white-space: pre-wrap;
}

p {
  color: #444;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 30px;
}

footer p {
  text-align: center;
}

article ul {
  margin-bottom: 30px;
} 

article ul li {
  color: #444;
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
}

nav {
  max-width: 240px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

nav ul li {
  float: left;
}

nav ul li a:link, nav ul li a:visited {
  display:block;
  width:70px;
  font-size: 20px;
  color:#555;
  background-color:#eee;
  text-align:center;
  padding:10px 5px;
}

nav ul li a.current:link, nav ul li a.current:visited {
  background-color:#ddd;
}

nav ul li a:hover,a:active {
  background-color:#ddd;
}
