<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Filmoteca</title>
  </head>

  <body class="container">

    <h1 class="display-3">Filmoteca</h1>

    <nav class="nav nav-pills">
      <a class="nav-link" href="/">Inicio</a>
      <a class="nav-link" href="/peliculas">Películas</a>
      <a class="nav-link active" href="/insertar">Añadir</a>
    </nav>

    <br />

    <h2 class="display-5">Insertar película</h2>

    <br />

    <form action="#" th:action="@{/insertar}" th:object="${pelicula}" method="post">
      <label for="titulo">Título:</label>
      <input type="text" th:field="*{titulo}" id="titulo" placeholder="Título">
      <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
      <br />

      <label for="descripcion">Año:</label>
      <input type="number" th:field="*{anyo}" id="anyo" placeholder="Año de estreno">
      <span th:if="${#fields.hasErrors('anyo')}" th:errors="*{anyo}"></span>
      <br />

      <label for="duracion">Duración:</label>
      <input type="number" th:field="*{duracion}" id="duracion" placeholder="Minutos de duración">
      <span th:if="${#fields.hasErrors('duracion')}" th:errors="*{duracion}"></span>
      <br />

      <input type="submit" value="Insertar">
    </form>

  </body>
</html>
